*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container{
    padding: 60px 25px;
    margin: 0 auto;
}

.faq{
    width: 100%;
    max-width: 768px;
    margin: 15px auto;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.question{
    color: #3c3c3c;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s linear;
    cursor: pointer;
}

.answer{
    opacity: 0;
    max-height: 0px;
    transition: all .4s linear;
}

.open .answer{
    opacity: 1;
    max-height: 500px;

}

